main > section > p {
	float:left;
	width: calc(50% - 10px);
	margin-right: 10px;
	text-align: justify;
}

main > section > img {
	float:right;
	width: calc(50% - 10px);
	margin-left: 10px;
}
main > section:after{
	clear:both;
}