:root {
	--color0:#96DEA4;
	--color1: #0c983f;
	--color2: #e6e600;
	--color3: #0a3917;
	--color4: #919d93;
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	background-color: var(--color0);
}
header {
	background-color: var(--color1);
	padding-top:25px;
}
h1 {
	color: var(--color2);
	text-align: center;
	font-family: "Press Start 2P", serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom:25px;
}
nav {
	border-top: 2px solid var(--color4);
	background-color: var(--color3);
	margin-bottom:25px;
}
nav ul li {
	display: inline;
}
nav ul li a {
	text-decoration: none;
	color: var(--color3);
	background-color: grey;
	padding: 5px 35px;
	margin: auto 5px;
	position: relative;
	top: 2.5px;
	border-radius: 0px 0px 8px 8px;
	box-shadow: 0px 2px 3px var(--color3);
	font-family: "Oxanium", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
nav ul li a:not(.active):hover {
	color: var(--color3);
	background-color: var(--color2);
	text-align: center;
	box-shadow: 0px 2px 3px var(--color3);
}
.active {
	color: var(--color2);
	background-color: var(--color1);
}

table {
	background-color:#FFF;
	padding: 5px;
	border-radius: 5px;
	margin: auto;
	width: 80%;
}
thead th{
	color:var(--color3);
	font-family: "Oxanium", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
tbody td, tbody th{
	border: 1px solid blue;
	padding: 2px;
}
tbody th {
	border-radius: 7px;
	background-color: var(--color1);
	color:var(--color2)
}
tbody td{
	text-align: center;
}
img {
	display: block;
}
tbody td img {
	width: 60%;
	margin:auto;
}
.logo img{
	width: 100px;
	margin:auto;
}